## Find n number of Factorials

In [1]:
def fact(n):
    if n<0:
        return (f"Invalid Number")
    elif n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return n*fact(n-1)

In [6]:
n = 5
print(fact(n))

120

## Queues

In [4]:
queue = []
def enqueue():
    element = int(input("enter the element: "))
    queue.append(element)
    print(element,"is added into queue")
def dequeue():
    if element not in queue:
        print("queue is empty")
    else:
        element = queue.pop()
        print("Remove the element from Queue", element)
def display():
    print(queue)

while True:
    print("Select the operation 1. add 2. remove 3. show 4. quit")
    choice = int(input())
    if choice == 1:
        enqueue()
    elif choice == 2:
        dequeue()
    elif choice == 3:
        display()
    elif choice == 4:
        break
    else:
        print("Enter the correct operation")

Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 5
5 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 6
6 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
3
[5, 6]
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 1
1 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 4
4 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 3
3 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 8
8 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
8
Enter the correct operation
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 6
6 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
4

## Reversing the Vowels in given string

In [10]:
def rev_vowels(ipstr):
    li_str = list(ipstr)
    vowels = "aeiouAEIOU"
    v_i = [i for i,v in enumerate(li_str) if v in vowels]
    rev_li_str = [li_str[i] for i in v_i[::-1]]
    for i,c in zip(v_i,rev_li_str):
        li_str[i] = c
    final_str = "".join(li_str)
    return final_str

In [11]:
strng = input("Enter the String to reverse vowels: ")
rev_vowels(strng)

Enter the String to reverse vowels: hello

'holle'

## frequency of elements in given list

In [24]:
def ele_freq(l):
    # Create the empty dictionary to store the key values pair
    d = dict()
    # iterate the entire given list to count the elements
    for i in l:
        if i != ',':
        # in case, the given element is not in dictionary key
        # it will add into dictionary and increase the count
            if i not in d.keys():
                d[i] = 1
            else:
                d[i] += 1
    return d

In [114]:
def freq_list(l):
    di = {i: l.count(i) for i in l if i != ","}
    return di

In [115]:
li_ele = list(input("Enter the list of values to count the elements: "))
freq_list(li_ele)

Enter the list of values to count the elements: 6,5,4,7,3,6,3,5,3,5,4,7,5,0

{'6': 2, '5': 4, '4': 2, '7': 2, '3': 3, '0': 1}

In [25]:
li_ele = list(input("Enter the list of values to count the elements: "))
ele_freq(li_ele)

Enter the list of values to count the elements: 2,3,1,2,3,4,2,3,4,5,4,3,2,1,3,2

{'2': 5, '3': 5, '1': 2, '4': 3, '5': 1}

## Sort the given list of elements without using Built-in function

In [55]:
l = [2,4,3,5,4,6,4,7,8,3,2,9,0]

### Ascending list

In [98]:
def sort_asc_without_builtin(li):
    for i in range(len(li)):
        for j in range(0,len(li)-i-1):
            if li[j] > li[j+1]:
                li[j],li[j+1] = li[j+1],li[j]
    l1 = []
    for i in li:
        if i !=',':
            l1.append(i) 
    return l1

In [108]:
list_values = list(input("Enter the list of values for sorting ASC: "))
print()
print(f"Sorted list to ASC: {sort_asc_without_builtin(list_values)}")

Enter the list of values for sorting ASC: 6,2,8,6,9,0

Sorted list to ASC: ['0', '2', '6', '6', '8', '9']

### Descending list

In [105]:
def sort_desc_without_builtin(li):
    for i in range(len(li)):
        for j in range(0,len(li)-i-1):
            if li[j] < li[j+1]:
                li[j],li[j+1] = li[j+1],li[j]
    l1 = []
    for i in li:
        if i !=',':
            l1.append(i) 
    return l1

In [109]:
list_values = list(input("Enter the list of values for sorting DESC: "))
print()
print(f"Sorted list to DESC: {sort_desc_without_builtin(list_values)}")

Enter the list of values for sorting DESC: 7,4,1,0,9,3,6

Sorted list to DESC: ['9', '7', '6', '4', '3', '1', '0']

## Swapping the variable values

In [182]:
a = 3
b = 7
print(a,b)

3 7

In [183]:
a,b = b,a
print(a,b)

7 3

In [184]:
a = a+b
b = a-b
a = a-b
print(a,b)

3 7

In [185]:
a = a*b
b = a/b
a = a/b
print(a,b)

7.0 3.0

In [189]:
swap = lambda a,b : [b,a]
b,a = swap(a,b)
print(a,b)

3.0 7.0

In [190]:
temp = a
a = b
b = temp
print(a,b)

7.0 3.0

## Pandas E-Commerce QandA

1. Given a DataFrame with customer transactions, identify all customers who have increased their monthly spending by at least 20% compared to their 6 month average.
Sample Data: Assume a DataFrame transactions with columns ['CustomerID', 'TransactionDate', 'Amount'].

In [1]:
cid = [1,1,1,2,2,2,3,3,3]
tdate = ['2023-01-01', '2023-02-01', '2023-03-01',
         '2023-01-01', '2023-02-01', '2023-03-01', 
         '2023-01-01', '2023-02-01', '2023-03-01']
amount = [100, 120, 80, 200, 180, 220, 150, 160, 140]

In [2]:
import pandas as pd

In [38]:
pdf = pd.DataFrame([cid, tdate, amount], index = ["CustomerID","transactionDate","Amount"]).T
pdf

  CustomerID transactionDate Amount
0          1      2023-01-01    100
1          1      2023-02-01    120
2          1      2023-03-01     80
3          2      2023-01-01    200
4          2      2023-02-01    180
5          2      2023-03-01    220
6          3      2023-01-01    150
7          3      2023-02-01    160
8          3      2023-03-01    140

In [39]:
pdf.dtypes

CustomerID         object
transactionDate    object
Amount             object
dtype: object

In [40]:
pdf["transactionDate"].dtype

dtype('O')

In [41]:
pdf["transactionDate"] = pd.to_datetime(pdf["transactionDate"])
pdf.dtypes

CustomerID                 object
transactionDate    datetime64[ns]
Amount                     object
dtype: object

In [42]:
# Calculate 6 months average spending

grp = pdf.groupby(["CustomerID"])["Amount"]
roll = grp.rolling(window = 6, min_periods = 1).mean()
six_months_avg = roll.reset_index(level = 0, drop = True)
six_months_avg

0    100.0
1    110.0
2    100.0
3    200.0
4    190.0
5    200.0
6    150.0
7    155.0
8    150.0
Name: Amount, dtype: float64

In [43]:
pdf = pdf.join(six_months_avg, rsuffix = "_6m_avg", on = "CustomerID")
pdf

  CustomerID transactionDate Amount  Amount_6m_avg
0          1      2023-01-01    100          110.0
1          1      2023-02-01    120          110.0
2          1      2023-03-01     80          110.0
3          2      2023-01-01    200          100.0
4          2      2023-02-01    180          100.0
5          2      2023-03-01    220          100.0
6          3      2023-01-01    150          200.0
7          3      2023-02-01    160          200.0
8          3      2023-03-01    140          200.0

In [47]:
incr_spend = pdf[pdf["Amount"] >= 1.2 * pdf["Amount_6m_avg"]]["CustomerID"].unique()
print(incr_spend)

[2]

### Count vowels in given string

In [14]:
def count_vowels(txt):
    vowels = "AEIOUaeiou"
#     count = 0
#     for ch in txt:
#         if ch in vowels:
#             count += 1
            
    c = len([i for i in txt if i in vowels])
    return f"The given string of vowels are: {c}"

In [15]:
count_vowels("Hello, welcome naresh this is first time right")

'The given string of vowels are: 13'

### Add hexadecimal values

In [47]:
stng1 = "Hell, \x44\x45\x46\x47\x48"

In [48]:
print(stng1)

Hell, DEFGH

In [33]:
st1 = "ABCDE"

In [38]:
"abcd".encode("utf-8").hex()

'61626364'

In [42]:
"naresh".encode('utf-8').hex()

'6e6172657368'

In [43]:
"ABCD".encode('utf-8').hex()

'41424344'

In [46]:
st1.encode("utf-8").hex()

'4142434445'

In [54]:
s = """\x01\x02\x03\x04\x05\x06\x07\x08\x09\x10\x11\x12\x13\x14\x15\x16\x17\x18\x19\x20
\x21\x22\x23\x24\x25\x26\x27\x28\x29\x30\x31\x32\x33\x34\x35\x36\x37\x38\x39\x40
\x41\x42\x43\x44\x45\x46\x47\x48\x49\x50\x51\x52\x53\x54\x55\x56\x57\x58\x59\x60"""
print(s)

	
!"#$%&'()0123456789@
ABCDEFGHIPQRSTUVWXY`

In [57]:
print("\x49")

I

In [58]:
"J".encode("utf-8").hex()

'4a'

In [60]:
s1 = """\x61\x62\x63\x64\x65\x66\x67\x68\x69\x70
\x71\x72\x73\x74\x75\x76\x77\x78\x79\x80
\x81\x82\x83\x84\x85\x86\x87\x88\x89\x90
\x91\x92\x93\x94\x95\x96\x97\x98\x99\x100"""

In [62]:
print(s1)

abcdefghip
qrstuvwxy


0

##### Lower Case

without "j,k,l,m,n,o and z"

In [89]:
print("\x61 - \x79")

a - y

In [98]:
ns = "jklmnoz"
ns.encode("utf-8").hex()

'6a6b6c6d6e6f7a'

In [99]:
print("\x6a - \x6f")

j - o

In [100]:
print("\x7a")

z

##### Upper Case

without "J,K,L,M,N,O and Z"

In [93]:
print("\x41 - \x59")

A - Y

In [94]:
ns = "JKLMNOZ"
ns.encode("utf-8").hex()

'4a4b4c4d4e4f5a'

In [97]:
print("\x4a - \x4f")

J - O

In [96]:
print("\x5a")

Z

##### Numbers Case

In [86]:
print("\x30 - \x39")

0 - 9

### Time Complexity check
#### Comparing execution og Quick Sort and Merge sort Algorithms

In [69]:
import sys
import time

##### Timer Function

In [70]:
def set_timer(func):
    def wrapper(*args,**kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        end = time.time()
        duration = end - start
        print(f"The function {func.__name__} took {duration}")
        return result
    return wrapper

##### Merge Sort

In [71]:
@set_timer
def merge_sort(A):
    merge_sort_2(A, 0, len(A) - 1)

def merge_sort_2(A, first, last):
    if first < last:
        middle = (first + last)//2
        merge_sort_2(A, first, middle)
        merge_sort_2(A, middle + 1, last)
        merge(A, first, middle, last)

def merge(A, first, middle, last):
    left = A[first:middle + 1]
    right = A[middle + 1:last + 1]
    left.append(sys.maxsize)
    top_right = top_left = 0

    for k in range(first, last + 1):
        if left[top_left] < right[top_right]:
            A[k] = left[top_left]
            top_left += 1
        else:
            A[k] = right[top_right]
            top_right += 1

##### Quick Sort

In [72]:
@set_timer
def quickSort(A):
    sort(A, 0, len(A) - 1)

def partition(A, low, hi):
    pivot_index = get_pivot(A, low, hi)
    pivot_value = A[pivot_index]
    A[pivot_index], A[low] = A[low], A[pivot_index]
    border = low

    for i in range(low, hi + 1):
        if A[i] < pivot_value:
            border += 1
            A[i], A[border] = A[border], A[i]
    A[low], A[border] = A[border], A[low]
    return border


def get_pivot(A, low, hi):
    """ Pivot is the median of three values"""
    mid = (low + hi)//2
    pivot = hi
    if A[low] < A[mid]:
        if A[mid] < A[hi]:
            pivot = mid
    elif A[low] < A[hi]:
        pivot = low
    return pivot

def sort(A, low, hi):
    if low < hi:
        border = partition(A, low, hi)
        sort(A, low, border - 1)
        sort(A, border + 1, hi)

##### Comparision

In [73]:
import random

In [82]:
A = random.sample(range(0, 5000), 1000)
B = random.sample(range(0, 5000), 1000)

In [83]:
print(len(A))

1000

In [84]:
print(A)

[3201, 2114, 4143, 3348, 124, 2852, 4628, 2465, 4106, 2459, 4923, 1171, 4892, 4623, 3562, 1767, 1580, 3855, 2002, 1112, 1265, 2359, 2523, 2364, 1031, 62, 1503, 4301, 453, 55, 2412, 927, 2674, 3305, 3174, 510, 2824, 2184, 1657, 3257, 4013, 3341, 1021, 1971, 2818, 3045, 310, 586, 4162, 5, 2479, 793, 4746, 131, 2301, 2750, 673, 4811, 3938, 3315, 842, 410, 609, 2913, 3275, 2051, 4536, 2402, 1844, 3280, 1756, 2823, 304, 3871, 2732, 148, 2350, 3343, 787, 4268, 4360, 4612, 4571, 4898, 1272, 1504, 1574, 4158, 2600, 1039, 3092, 1585, 3024, 2292, 2631, 3763, 3672, 4671, 3898, 3062, 1721, 2174, 2010, 1817, 837, 4074, 2262, 1654, 1838, 683, 1185, 1706, 251, 3848, 2277, 501, 1096, 4103, 3177, 3869, 2806, 1514, 3200, 3558, 248, 3153, 4686, 338, 4725, 1091, 2323, 3059, 3886, 2363, 2582, 2755, 2598, 3740, 1082, 109, 3718, 273, 3634, 2621, 3753, 2428, 1861, 2506, 3279, 738, 2675, 2999, 203, 2698, 3883, 1070, 2696, 869, 3006, 41, 4617, 4568, 4141, 1434, 4217, 627, 2451, 51, 1798, 2259, 892, 1723, 1550, 2248, 325, 1737, 1290, 2825, 116, 3312, 2279, 4637, 1494, 284, 1371, 2882, 398, 4040, 3211, 1912, 3111, 924, 4316, 1647, 4980, 1390, 2630, 2709, 2974, 3438, 2557, 4296, 816, 4667, 2888, 2799, 4386, 2384, 2206, 4399, 2309, 1094, 4952, 972, 4046, 4621, 1061, 906, 2808, 2395, 2742, 2886, 2815, 4710, 3527, 2850, 3968, 4705, 961, 65, 3302, 2343, 139, 2271, 4688, 2021, 2877, 1982, 4481, 871, 3816, 4740, 1008, 1433, 2035, 792, 4413, 904, 2699, 4351, 2113, 2686, 1822, 620, 3636, 719, 1545, 1429, 2977, 3864, 641, 2083, 585, 2319, 3071, 2596, 3805, 1246, 4607, 2195, 4794, 1479, 1558, 2280, 1661, 594, 1742, 525, 4149, 4817, 259, 2111, 3738, 1118, 2273, 2599, 1029, 486, 2469, 1283, 4314, 2085, 828, 1114, 224, 1032, 4845, 2025, 4645, 1463, 245, 2791, 4265, 4429, 515, 4239, 2573, 4639, 3606, 2950, 70, 4878, 3597, 4523, 2871, 2099, 845, 78, 4993, 4721, 4419, 349, 2142, 388, 1536, 2404, 4431, 3701, 3893, 3927, 1088, 477, 684, 1458, 3953, 1537, 2075, 2241, 1964, 3774, 4341, 3771, 716, 3155, 1858, 1101, 3354, 3145, 556, 4504, 4827, 595, 932, 1451, 2284, 4569, 2581, 570, 2757, 3247, 275, 903, 4557, 4073, 2503, 894, 2618, 3697, 3745, 291, 2514, 1502, 1408, 2673, 2647, 545, 1247, 2450, 4767, 2436, 4556, 2375, 3394, 1962, 1590, 1615, 1217, 2295, 764, 4728, 176, 4755, 2919, 2003, 2901, 1852, 127, 714, 13, 3742, 1693, 2928, 868, 2144, 2403, 3309, 4501, 301, 2958, 1195, 409, 2797, 2098, 3569, 1499, 2499, 1846, 2252, 2119, 991, 941, 3298, 4821, 1972, 2415, 3578, 567, 4547, 1511, 617, 3993, 1793, 4736, 661, 4079, 4354, 4169, 1214, 696, 2704, 3949, 3673, 4376, 4300, 2746, 926, 4650, 3664, 4914, 2444, 1055, 4511, 334, 4752, 1202, 3456, 1046, 1958, 2984, 4738, 3105, 1287, 2235, 2257, 4261, 1714, 634, 4211, 1087, 4044, 1812, 2832, 1808, 928, 4904, 2541, 3744, 1432, 1538, 3266, 283, 1776, 2917, 4381, 3270, 3458, 2754, 4759, 864, 1739, 20, 1746, 3648, 994, 2356, 1724, 4596, 1332, 1270, 2204, 32, 3813, 250, 3342, 352, 4897, 3353, 855, 1713, 2125, 3504, 1522, 499, 1048, 3336, 1622, 4039, 3599, 1978, 1807, 4585, 834, 333, 2321, 944, 1850, 3408, 309, 3429, 2492, 3434, 1262, 4198, 2708, 1464, 2811, 49, 3128, 4132, 2001, 933, 1856, 875, 1634, 4700, 4970, 3967, 762, 2187, 2872, 4375, 2049, 2371, 3389, 4919, 3437, 4889, 3995, 2421, 2315, 2720, 2443, 1970, 1953, 1368, 375, 3709, 1507, 4651, 2362, 3789, 2399, 4987, 3987, 2369, 1267, 3350, 1897, 1747, 861, 4723, 3942, 4872, 2339, 3928, 4894, 943, 1887, 494, 1900, 1595, 4236, 2054, 1916, 748, 3228, 4589, 2942, 4799, 4879, 3688, 1943, 4866, 1225, 4519, 4642, 4493, 544, 591, 2407, 435, 773, 1232, 2641, 3642, 1047, 347, 2190, 1208, 4696, 56, 1926, 3283, 4624, 4299, 429, 686, 2953, 4449, 1266, 1419, 3787, 240, 2896, 2676, 3496, 234, 34, 1231, 3261, 4813, 4588, 4896, 3580, 3000, 2178, 2955, 564, 4955, 419, 123, 4070, 3038, 3129, 3490, 3523, 690, 857, 3777, 4054, 2830, 4691, 1913, 80, 2649, 2522, 2525, 4584, 3388, 4364, 452, 4517, 2229, 2017, 3793, 4130, 4840, 306, 1226, 4706, 4672, 3356, 2348, 1804, 2251, 4743, 1871, 4616, 4635, 3365, 3457, 4259, 2894, 4398, 372, 3338, 52, 3572, 1128, 2542, 1489, 2612, 1860, 886, 120, 185, 2854, 1455, 3455, 3052, 3702, 1116, 2466, 2238, 753, 4136, 215, 4625, 4410, 3344, 1983, 3204, 278, 2293, 4648, 916, 3549, 4776, 1213, 1277, 1095, 3832, 2530, 2153, 4114, 432, 3535, 3132, 4739, 2594, 196, 3027, 4792, 3046, 159, 18, 3526, 1930, 3671, 1076, 1610, 3652, 2127, 4608, 1948, 4586, 3390, 2089, 391, 4750, 1312, 3420, 4378, 2773, 1320, 3845, 1909, 1899, 1902, 320, 1769, 1575, 2397, 4981, 4928, 3911, 3545, 1052, 4956, 948, 361, 2133, 3377, 2482, 847, 2467, 4138, 785, 3650, 344, 1879, 10, 2590, 1645, 3750, 216, 2727, 3005, 3079, 4363, 468, 917, 4224, 654, 766, 4310, 2527, 3654, 4436, 910, 188, 2921, 237, 4741, 2502, 1146, 2314, 646, 2211, 9, 174, 2146, 726, 1236, 523, 3809, 3843, 3903, 580, 3905, 1646, 1234, 838, 3769, 2180, 1745, 4068, 3165, 1790, 4312, 3332, 1481, 2048, 4807, 1164, 190, 3858, 2606, 1854, 4466, 3515, 3948, 4745, 4154, 2416, 1616, 2299, 4924, 1941, 1764, 295, 3337, 520, 4370, 132, 467, 2669, 2070, 262, 2498, 1115, 2810, 1187, 1663, 530, 4991, 3194, 1497, 133, 4295, 4277, 1387, 1209, 563, 3207, 1404, 2047, 587, 1718, 3890, 1319, 742, 498, 3478, 94, 883, 1901, 3125, 3175, 3501, 1814, 2640, 1366, 1475, 606, 4788, 4574, 4778, 3653, 1666, 407, 3997, 867, 3432, 865, 3010, 4537, 4484, 3954, 2961, 96, 2820, 2052, 602, 257, 4742, 1898, 3157, 3447, 548, 3979, 3889, 3659, 481, 4951, 436, 1176, 1589, 3570, 272, 354, 1010, 2422, 3271, 3802, 4276, 2819, 711, 4836, 4164, 2786, 4418, 2046, 2920, 2940, 4462, 2008, 3916, 1459, 1551, 1869, 2413, 3499, 4266, 2632, 1121, 3623, 3556, 3727, 2000, 4632, 1961, 1028, 4269, 4121, 1667, 2663, 4768, 2855, 1774, 823, 1997, 685, 2063, 2944, 141, 3926, 3446, 4985, 4812, 92, 3387, 2875, 4936, 1330, 2141, 1233, 2687, 4989, 4744]

In [85]:
print(len(B))

1000

In [86]:
print(B)

[2701, 1896, 2887, 1055, 3184, 136, 4319, 1535, 3093, 3096, 2752, 841, 3928, 4972, 4412, 3382, 2501, 3341, 1041, 577, 3147, 1212, 499, 3365, 1411, 375, 1034, 3312, 676, 466, 2591, 4751, 2483, 319, 2567, 4005, 4933, 4273, 2931, 1580, 3960, 1316, 1994, 2458, 3539, 1775, 803, 2944, 4982, 203, 387, 4474, 2064, 1633, 4089, 2039, 1009, 2613, 2723, 3525, 4122, 1614, 504, 982, 574, 114, 1800, 3460, 2892, 231, 1125, 3289, 995, 1374, 2978, 2091, 3791, 3281, 1349, 3107, 3369, 920, 3013, 2417, 881, 4827, 2456, 2205, 4231, 2387, 3635, 3993, 2321, 1894, 4389, 1541, 583, 3760, 593, 745, 88, 3061, 4368, 1921, 1426, 1062, 289, 4246, 4104, 178, 3167, 4064, 1436, 2622, 3838, 3932, 914, 143, 1414, 109, 3339, 2054, 2403, 4780, 859, 1138, 2934, 116, 3104, 4088, 1253, 873, 2940, 4860, 65, 1092, 4162, 3803, 2633, 3150, 1394, 812, 1527, 2573, 4976, 2536, 4910, 3580, 1544, 1449, 4303, 2075, 628, 3375, 4175, 3649, 3155, 4572, 4169, 967, 566, 4295, 4589, 1156, 3881, 2585, 2577, 756, 4819, 3165, 1836, 2030, 411, 4746, 1113, 4943, 475, 1712, 3753, 3309, 1093, 3239, 3173, 2695, 1629, 2013, 2910, 4508, 1698, 1295, 1785, 3164, 4809, 1001, 3705, 1638, 3832, 4322, 2738, 4244, 923, 3258, 147, 1357, 3820, 4010, 3119, 1942, 3891, 1736, 2720, 4413, 736, 4502, 1073, 3050, 4082, 3653, 1440, 4555, 1619, 1339, 3071, 398, 26, 4423, 2664, 374, 222, 3734, 2177, 3835, 1730, 1238, 3783, 2571, 1542, 3543, 837, 2667, 3350, 3035, 1488, 630, 2424, 3030, 1031, 1794, 4601, 3181, 4393, 4124, 3873, 296, 547, 4721, 4699, 3956, 596, 3798, 3986, 1256, 2301, 722, 1649, 885, 4647, 1777, 4692, 3438, 2367, 4307, 1181, 2018, 2819, 1600, 991, 1189, 1385, 4592, 4212, 3486, 1419, 4765, 4994, 165, 3455, 726, 886, 662, 4495, 4372, 3187, 4112, 4444, 954, 2390, 4238, 316, 931, 3308, 2024, 1451, 148, 2561, 1587, 4947, 852, 1048, 224, 2192, 476, 2427, 2805, 3692, 2320, 2307, 1832, 3112, 743, 2764, 890, 1565, 3036, 416, 4717, 4329, 1625, 2252, 3075, 1962, 4843, 4557, 4026, 2396, 4664, 1568, 177, 3530, 4066, 2629, 1061, 4792, 4377, 4326, 4542, 550, 1822, 4968, 3831, 620, 2510, 2074, 3996, 510, 3861, 675, 1324, 2228, 1244, 3598, 227, 2654, 247, 3423, 4547, 1462, 602, 2899, 4145, 4700, 2225, 2759, 2800, 339, 94, 3054, 962, 4370, 2271, 2246, 1725, 2609, 1466, 1145, 2594, 1220, 2767, 4952, 4044, 4739, 4102, 1204, 3178, 2515, 637, 4482, 1992, 2116, 3721, 1539, 4504, 106, 336, 2126, 1757, 2184, 3490, 1402, 3042, 689, 4720, 1653, 157, 2009, 4882, 2053, 74, 139, 4863, 3650, 3856, 3477, 2462, 3, 1594, 2453, 3691, 2519, 4655, 4333, 4889, 492, 3079, 1057, 1343, 3183, 428, 3148, 781, 1967, 249, 582, 135, 4139, 789, 256, 4297, 1561, 1291, 3450, 4263, 1198, 4408, 480, 2474, 1382, 351, 3449, 3335, 3044, 3555, 4726, 3511, 3743, 3715, 2795, 3496, 3389, 3390, 4395, 4004, 727, 4320, 690, 949, 1699, 311, 4842, 4364, 3984, 1283, 3451, 315, 896, 3948, 3111, 3961, 1634, 405, 3709, 2140, 822, 3447, 1051, 4537, 3779, 3601, 2831, 2454, 2464, 2292, 1184, 1773, 2583, 402, 647, 761, 3078, 3195, 2106, 2962, 4360, 4930, 1677, 1968, 4632, 4944, 1485, 2337, 2854, 4312, 16, 603, 1648, 3761, 2011, 3114, 488, 2190, 2221, 3393, 2222, 3699, 4830, 4328, 4672, 2672, 3532, 4734, 3566, 4598, 1734, 1858, 3134, 2765, 3387, 4208, 2833, 3902, 1613, 4028, 326, 1338, 208, 1131, 4890, 785, 1084, 4702, 1674, 955, 462, 4058, 659, 3686, 3936, 2893, 348, 2473, 1550, 1322, 4314, 2530, 3766, 378, 3521, 2449, 697, 96, 4195, 4935, 4500, 4439, 2397, 4594, 3672, 2520, 1377, 4680, 4661, 2557, 2596, 1201, 3313, 1170, 85, 3889, 141, 3729, 1796, 558, 567, 4706, 2881, 3458, 1705, 2315, 1046, 2803, 2739, 963, 4578, 2727, 1554, 2963, 3019, 3207, 1383, 3911, 2159, 616, 1607, 3742, 720, 4399, 4387, 332, 4463, 1716, 1546, 2488, 4000, 4967, 3346, 270, 435, 283, 2999, 906, 3938, 4817, 1869, 509, 4818, 4217, 783, 4591, 4406, 4871, 4268, 1458, 4130, 3236, 3368, 285, 2303, 2768, 4556, 4344, 1302, 4202, 687, 4228, 3132, 1021, 2556, 1109, 2345, 4038, 2700, 1285, 1019, 2492, 2810, 4219, 1620, 1202, 248, 3051, 4353, 191, 4922, 4805, 1641, 1953, 1091, 737, 3171, 2227, 209, 4902, 3945, 3623, 1391, 4770, 2616, 3209, 3102, 2401, 4652, 3193, 3057, 2365, 4711, 274, 1010, 2181, 4887, 4, 37, 128, 4316, 1400, 4795, 876, 2878, 2032, 1803, 1413, 845, 404, 2094, 2339, 3725, 4659, 4287, 1162, 241, 4946, 3675, 2574, 1664, 819, 1924, 2603, 708, 3319, 2036, 103, 4481, 3205, 1185, 3220, 4864, 1498, 1929, 3534, 3032, 3685, 414, 471, 3321, 3639, 278, 3561, 1747, 2206, 3221, 3100, 2422, 1845, 2631, 120, 4908, 784, 4106, 4472, 1321, 3710, 612, 269, 4062, 3324, 782, 3912, 2472, 554, 2825, 3514, 4071, 400, 3133, 968, 2312, 1039, 1428, 668, 4230, 4264, 2130, 3010, 1336, 3118, 1261, 18, 3971, 4467, 2516, 1861, 3987, 4401, 3968, 3797, 2220, 2385, 2309, 3202, 1334, 1658, 1795, 2997, 23, 1064, 851, 1420, 1687, 3415, 806, 4880, 223, 2006, 2349, 1624, 1275, 4418, 4031, 4204, 4530, 1006, 4240, 3520, 2340, 3857, 413, 3839, 3124, 2347, 4561, 1556, 4541, 4516, 634, 169, 4638, 2466, 2640, 4801, 1228, 2344, 3651, 4024, 2697, 3959, 699, 2798, 1086, 671, 1435, 1936, 3829, 3505, 4724, 809, 1562, 2518, 2564, 624, 3659, 2547, 1675, 4035, 1731, 1722, 3298, 1399, 1487, 3128, 298, 1409, 392, 3251, 211, 2254, 2197, 1999, 3106, 2702, 2559, 883, 3538, 3827, 531, 576, 484, 2647, 4338, 4639, 439, 1150, 2196, 2605, 891, 1802, 4468, 2402, 3454, 2853, 4690, 2911, 3781, 3967, 3349, 2393, 494, 3262, 4199, 4321, 2082, 565, 4086, 438, 740, 1074, 3407, 1708, 3337, 3491, 2413, 267, 2411, 2357, 2964, 2146, 66, 4648, 977, 1456, 2626, 4080, 3727, 1144, 324, 2845, 4533, 646, 1503, 1867, 420, 4293, 3261, 730, 2732, 4571, 2829, 4379, 3813, 4158, 4349, 3421, 2696, 2779, 3583, 3245, 4173, 443, 1395, 1408, 957, 2170, 516, 1366, 3015, 3231, 2511, 2745, 1193, 30, 1489, 2476, 916, 3401, 3336, 4077, 2675, 4456, 4503, 4382, 2937, 1029, 4630, 3255, 3801, 0, 1576, 3359, 2193, 4108, 3726, 1769]

In [ ]:
# merge_sort(B)
quickSort(A)

### Reversing the list with diffrent ways

In [21]:
li = [1,2,3,4,5,6,7]

In [6]:
li[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [9]:
my_list = []
for i in range(len(li)-1,-1,-1):
    my_list.append(li[i])
    
print(my_list)

[7, 6, 5, 4, 3, 2, 1]

In [13]:
mylist = []
for i in li:
    mylist.insert(0,i)
print(mylist)

[7, 6, 5, 4, 3, 2, 1]

In [18]:
mli = []
for i in reversed(li):
    mli.append(i)
    
mli

[7, 6, 5, 4, 3, 2, 1]

In [23]:
list(reversed(li))

[7, 6, 5, 4, 3, 2, 1]

In [27]:
print(li.reverse())

TypeError: list.reverse() takes no arguments (1 given)