In [3]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/cdot/.local/lib/python3.10/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /home/cdot/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
DEPRECATION: devscripts 2.22.1ubuntu1 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of devscripts or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as w
w.filterwarnings('ignore')

In [5]:
ss = SparkSession.builder.appName("MyFirstSpark").getOrCreate()
conf = SparkConf().setAppName("Configuration").setMaster('local[2]')
conf.get('spark.master')
conf.get("spark.app.name")

'Configuration'

In [ ]:
d = {"Name": ["Naresh","Suresh","Ramesh","Sulo","Narendra","Venkat","Narasimhulu","Tata"], 'Age':[34,65,53,27,38,19,42,17]}
print(d)

In [ ]:
pd_df = pd.DataFrame(d)

In [ ]:
pd_df

In [ ]:
pd_df.describe(include = ['int', 'object'])

In [ ]:
spark_df = ss.createDataFrame(pd_df)
spark_df

In [ ]:
spark_df.show()

In [ ]:
spark_df.printSchema()

In [ ]:
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

In [ ]:
ss = SparkSession.builder.master('local[1]').appName("SparkExample.com").getOrCreate()

In [ ]:
print(ss)

In [ ]:
dataList = [('python', 200000),('Java',100000),("R", 300000)]
rdd = ss.sparkContext.parallelize(dataList)
rdd.collect()

In [ ]:
type(rdd)

In [ ]:
data = [("Naresh", '', 'Kumar', '1994-03-12', 'M', 250000),
        ("Narendra", "Kumar", '', '2000-04-05','M', 300000),
        ('James','','Smith','1991-04-01','M',3000),
         ('Michael','Rose','','2000-05-19','M',4000),
          ('Robert','','Williams','1978-09-05','M',4000),
           ('Maria','Anne','Jones','1967-12-01','F',4000),
            ('Jen','Mary','Brown','1980-02-17','F',-1)]
columns = ['FirstName','MiddleName','LastName','DateOfBirth','Gender','Salary']
print(columns)
print(data)

In [ ]:
df = ss.createDataFrame(data=data, schema = columns)
df.show()

In [ ]:
df.printSchema()

In [ ]:
df.describe().show()

In [ ]:
from pyspark.sql.functions import isnan, count, col, when

In [ ]:
df.columns

In [ ]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

In [ ]:
input_data = [("Shivansh", "Data Scientist", "Noida"),
                  (None, "Software Developer", None),
                  ("Swati", "Data Analyst", "Hyderabad"),
                  (None, None, "Noida"),
                  ("Arpit", "Android Developer", "Banglore"),
                  (None, None, None)]

schema = ["Name", "Job Profile", "City"]

In [ ]:
df1 = ss.createDataFrame(input_data, schema = schema)
df1.show()

In [ ]:
df1.printSchema()

In [ ]:
df1

In [ ]:
df1 = df1.filter(df1.Name.isNotNull())
df1.show()

In [ ]:
df1.filter(df1.Name.isNotNull()).show()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
### to count the null values in each column with functions modules
df_null_count = df1.select([count(when(col(c).isNull(),c)).alias(c) for c in df1.columns])
df_null_count.show()
display(df_null_count)

In [ ]:
new_df = df1

#### Handling with Null values in DF

In [ ]:
new_df.show()

In [ ]:
new_df.na.fill(value = 0).show()

In [ ]:
from pandas.core.groupby.groupby import RandomState

new_df1 = new_df.withColumn("Salary", rand())
new_df1.show()

In [ ]:
new_df1.withColumn("Salary", new_df1.Salary*100000).show()

In [ ]:
pip install findspark

In [ ]:
import findspark

In [ ]:
findspark.find()

In [ ]:
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext

In [ ]:
ss.stop()

In [ ]:
sc = SparkContext()

In [ ]:
# Create the RDD with parallelize method
rdd = sc.parallelize([1,2,3,4,5,6,7])

In [ ]:
# to show the RDD file data
rdd.collect()

In [ ]:
rdd.take(2)

In [ ]:
type(rdd)

In [ ]:
# to stop the sparkcontext with stop method
sc.stop()

#### First way to create spark context

In [ ]:
from pyspark import SparkContext, SparkConf

In [ ]:
# to configure the Spark context
config = SparkConf().setAppName("First google colab"). setMaster('local')

# here, to create the spark context and pass the parameter spark  configuration variable
sc = SparkContext(conf = config)

In [ ]:
# to get the all configuration details with getConf method
sc.getConf().getAll()

In [ ]:

# then stop the Spark context with stop method
sc.stop()

#### Second way to create spark context that leads settings of spark

In [ ]:

sc = SparkContext()
sc.getConf().getAll()

In [ ]:
sc.stop()

#### Third way to combine both

In [ ]:
sc = SparkContext('local', 'first')

The RDD in spark is simply says that it is a immutable distributed collections of the objects.

each RDD is split into multiple positions, which may be computed on defferent nodes of the cluster.

The RDD can be created in two ways:
1. by landing on external dataset
2. by transforming one RDD into another

In [ ]:
name = sc.parallelize("data")

In [ ]:
name.countByValue()

In [ ]:
name.collect()

In [ ]:
name.take(2)

In [ ]:
num = sc.parallelize([4,5,3,6,4,5,2,9,6])

In [ ]:
num.countByValue()

##### glom()

it is a method in spark, means information stored in different partitions in each RDD but, spark does't allow the worker to refer the specific partitions, and it does transform each partition into a "tuple"

In [ ]:
num.glom().collect()

In [ ]:
num = sc.parallelize([4,3,4,2,3,1,5,4,6,8],2)
num.glom().collect()

In [ ]:
num.min()

In [ ]:
num.max()

In [ ]:
num1 = sc.parallelize([3,2,4,5,6,3,2],4)
num1.glom().collect()

In [ ]:
num2 = sc.parallelize([3,2,4,3,2,5,4,6],3)
num2.glom().collect()

The Reduce() is same as exist in python like combine the all values, e.g. 1+2+3 = 6

The Fold() is takes the some initial value

In [ ]:
num2.reduce(lambda a,b:a+b)

the takeOrdered() method, first takes the data and sort it, then give the output as passed parameter value

In [ ]:

num2.takeOrdered(4)

In [ ]:
num2.fold(1, lambda a, b : a+b)

In [ ]:
num2.fold(2, lambda a,b : a+b)

In [ ]:
num2.fold(0, lambda a,b:a+b)

In [ ]:
num = sc.parallelize([2,4,3,1,5,4,3,5,4,6],3)
num.sum()

In [ ]:
num.glom().collect()

In [ ]:
num.fold(0, lambda a,b:a+b)

In [ ]:
num.fold(1, lambda a,b: a+b)

In [ ]:
num.fold(2,lambda a,b:a+b)

In [ ]:
num.fold(3, lambda a,b:a+b)

#### Transformation:

it is an operation which we apply in RDD

two types of Transformation:
1. Narrow Transformation(Pipeline)
2. Wide Transformation(Shuffling)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dif = {"user_id":[111, 222,111,333,333,333,444],
      "join_date":["2024-01-01","2024-01-01","2024-01-03","2024-01-07","2024-01-08","2024-01-09","2024-01-09"]}
print(dif)

In [ ]:
df = pd.DataFrame(dif)
print(df)

In [ ]:
df.dtypes

In [ ]:
df["join_date"] = pd.to_datetime(df["join_date"])
print(df.dtypes)

In [ ]:
new_user_df = df.groupby(df["join_date"].dt.date)["user_id"].nunique().reset_index()

In [ ]:
total_user = df["user_id"].nunique()

In [ ]:
new_user_df["percentage"] = (new_user_df["user_id"]/total_user)*100
print(new_user_df)

In [ ]:
df.groupby(["user_id"])["join_date"].size()

In [ ]:
for i in

#### Unpivot tables

In [6]:
cricket_data = [("Virat Kohli", 85, 100, 75),
                ("Steve Smith", 90, 105, 80),
                ("Kane Williamson", 88, 95, 70)]

In [7]:
df = ss.createDataFrame(cricket_data, ["Player", "Match1", "Match2", "Match3"])

In [8]:
df

DataFrame[Player: string, Match1: bigint, Match2: bigint, Match3: bigint]

In [9]:
df.show()

+---------------+------+------+------+
|         Player|Match1|Match2|Match3|
+---------------+------+------+------+
|    Virat Kohli|    85|   100|    75|
|    Steve Smith|    90|   105|    80|
|Kane Williamson|    88|    95|    70|
+---------------+------+------+------+

In [23]:
df.selectExpr("Player", "stack(3, 'Match1','Match1','Match2','Match2','Match3','Match3') as (Match, Score)").show()

+---------------+------+------+
|         Player| Match| Score|
+---------------+------+------+
|    Virat Kohli|Match1|Match1|
|    Virat Kohli|Match2|Match2|
|    Virat Kohli|Match3|Match3|
|    Steve Smith|Match1|Match1|
|    Steve Smith|Match2|Match2|
|    Steve Smith|Match3|Match3|
|Kane Williamson|Match1|Match1|
|Kane Williamson|Match2|Match2|
|Kane Williamson|Match3|Match3|
+---------------+------+------+

In [24]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

In [25]:
df = [(1,"K1","c1",1,0,3,0.00,1.00,0.00,1.00,0.00,0.00)]

columns= ["Id","Key","Code","Label1","Label2","Label3","Rate1","Rate2","Rate3","CancelRate1","CancelRate2","CancelRate3"]

In [27]:
df = ss.createDataFrame(data = df, schema = columns)
df.printSchema()

root
 |-- Id: long (nullable = true)
 |-- Key: string (nullable = true)
 |-- Code: string (nullable = true)
 |-- Label1: long (nullable = true)
 |-- Label2: long (nullable = true)
 |-- Label3: long (nullable = true)
 |-- Rate1: double (nullable = true)
 |-- Rate2: double (nullable = true)
 |-- Rate3: double (nullable = true)
 |-- CancelRate1: double (nullable = true)
 |-- CancelRate2: double (nullable = true)
 |-- CancelRate3: double (nullable = true)

In [28]:
df.show(truncate=False)

+---+---+----+------+------+------+-----+-----+-----+-----------+-----------+-----------+
|Id |Key|Code|Label1|Label2|Label3|Rate1|Rate2|Rate3|CancelRate1|CancelRate2|CancelRate3|
+---+---+----+------+------+------+-----+-----+-----+-----------+-----------+-----------+
|1  |K1 |c1  |1     |0     |3     |0.0  |1.0  |0.0  |1.0        |0.0        |0.0        |
+---+---+----+------+------+------+-----+-----+-----+-----------+-----------+-----------+

In [35]:
unpivotExpr1 = "stack(3, 'Label1',Label1, 'Label2',Label2, 'Label3',Label3) as (Label,Total)"
unpivotExpr1

"stack(3, 'Label1',Label1, 'Label2',Label2, 'Label3',Label3) as (Label,Total)"

In [36]:
unpivotExpr2 = "stack(3, 'Rate1',Rate1,'Rate2',Rate2,'Rate3',Rate3) as (Rate,Total)"
unpivotExpr2

"stack(3, 'Rate1',Rate1,'Rate2',Rate2,'Rate3',Rate3) as (Rate,Total)"

In [41]:
unPivotDF1 = df.select("id","Key","Code", expr(unpivotExpr1))
dflabel = unPivotDF1.withColumnRenamed('Total','LabelId ')
dflabel.show()

+---+---+----+------+--------+
| id|Key|Code| Label|LabelId |
+---+---+----+------+--------+
|  1| K1|  c1|Label1|       1|
|  1| K1|  c1|Label2|       0|
|  1| K1|  c1|Label3|       3|
+---+---+----+------+--------+

In [42]:
unPivotDF2 = df.select("id","Key","Code", expr(unpivotExpr2))
dflabel = unPivotDF2.withColumnRenamed('Total','LabelId ')
dflabel.show()

+---+---+----+-----+--------+
| id|Key|Code| Rate|LabelId |
+---+---+----+-----+--------+
|  1| K1|  c1|Rate1|     0.0|
|  1| K1|  c1|Rate2|     1.0|
|  1| K1|  c1|Rate3|     0.0|
+---+---+----+-----+--------+

In [51]:
final_df = unPivotDF1.union(unPivotDF2).show()
final_df

+---+---+----+------+-----+
| id|Key|Code| Label|Total|
+---+---+----+------+-----+
|  1| K1|  c1|Label1|  1.0|
|  1| K1|  c1|Label2|  0.0|
|  1| K1|  c1|Label3|  3.0|
|  1| K1|  c1| Rate1|  0.0|
|  1| K1|  c1| Rate2|  1.0|
|  1| K1|  c1| Rate3|  0.0|
+---+---+----+------+-----+