### Reverse the given string vowels

In [1]:
def reverse_str_vowels(input_str):
    input_str_list = list(input_str)
    vowel = 'aeiouAEIOU'

    vowel_index = [i for i,c in enumerate(input_str_list) if c in vowel]
    vowel_reverse = [input_str_list[i] for i in vowel_index[::-1]]

    for i, c in zip(vowel_index, vowel_reverse):
        input_str_list[i] = c

    return ''.join(input_str_list)

In [2]:
rev_str = reverse_str_vowels("Naresh")
print(rev_str)

Nerash

In [3]:
reverse_str_vowels(rev_str)

'Naresh'

### Reverse the given list of number without built-in functions

In [ ]:
num = [4,2,1,2,6,2,1,7,1,2,3,7,8]

for i in range(len(num)):
  for j in range(0, len(num)-i-1):
    if num[j] > num[j+1]:
      num[j], num[j+1] = num[j+1], num[j]
print(num)

[1, 1, 1, 2, 2, 2, 2, 3, 4, 6, 7, 7, 8]

In [ ]:
def reverse_asc_number_list(l_num):
  for i in range(len(l_num)):
    for j in range(0, len(l_num) - i - 1):
      if l_num[j]>l_num[j+1]:
        l_num[j], l_num[j+1] = l_num[j+1], l_num[j]
  return l_num

In [ ]:
reverse_asc_number_list([2,4,3,1,5,7,8,3,5,2])

[1, 2, 2, 3, 3, 4, 5, 5, 7, 8]

In [ ]:
def reverse_desc_number_list(l_num):
  for i in range(len(l_num)):
    for j in range(0, len(l_num)-i-1):
      if l_num[j]<l_num[j+1]:
        l_num[j], l_num[j+1] = l_num[j+1], l_num[j]
  return l_num

In [ ]:
reverse_desc_number_list([5,4,3,6,2,1,3,5,8,9,0])

[9, 8, 6, 5, 5, 4, 3, 3, 2, 1, 0]

#### Create Class object

In [ ]:
class order_list:
  def __int__(self, l_num):
    self.l_num = l_num
  def reverse_asc_number_list(self, l_num):
    for i in range(len(l_num)):
      for j in range(0, len(l_num) - i - 1):
        if l_num[j]>l_num[j+1]:
          l_num[j], l_num[j+1] = l_num[j+1], l_num[j]
    return l_num


  def reverse_desc_number_list(self, l_num):
    for i in range(len(l_num)):
      for j in range(0, range(l_num)-i-1):
        if l_num[j] < l_num[j+1]:
          l_num[j], l_num[j+1] = l_num[j+1], l_num[j]

    return l_num

In [ ]:
obj = order_list()
print(obj.reverse_asc_number_list)

<bound method order_list.reverse_asc_number_list of <__main__.order_list object at 0x7a764fa6b580>>

In [ ]:
ranl = obj.reverse_asc_number_list([6,4,7,2,8,1,8,9,4,0,4,1,8])
print(ranl)

[0, 1, 1, 2, 4, 4, 4, 6, 7, 8, 8, 8, 9]

### Sort it up for HackerEarth

In [1]:
def sort_it_up(n, arr):
    l_b = 0
    r_b = n-1
    i = 0

    while i <= r_b:
        if arr[i] == 2:
            arr[i] = arr[r_b]
            arr[r_b] = 2
            r_b -= 1
        elif arr[i] == 1:
            i += 1
        else:
            arr[i] = arr[l_b]
            arr[l_b] = 0
            l_b += 1
            i += 1

    return arr

In [2]:
sort_it_up(5, [3,2,1,0,1,0,2])

[0, 0, 1, 1, 2, 0, 2]

### Q

In [ ]:
def count_valid_numbers(N):
    def is_valid_rotation(n):
        rotation_map = {'0': '0', '1': '1', '6': '9', '8': '8', '9': '6'}
        rotated = []
        original_str = str(n)
        for digit in original_str:
            if digit not in rotation_map:
                return False
            rotated.append(rotation_map[digit])
        rotated_str = ''.join(rotated)[::-1]
        return rotated_str != original_str

    count = 0
    for i in range(1, N + 1):
        if is_valid_rotation(i):
            count += 1
    return count

# Test cases
print(count_valid_numbers(20))        # Output: 6
print(count_valid_numbers(15))        # Output: 3
print(count_valid_numbers(999999999)) # Output: 1950626

6
3

Write a program to remove the suffixes "ing","ly","al" from a given sentence.
If after removing the suffix the length of the word is more than 8 characters 
then take the first 8 characters.
There should not be any word in the sentence which should have greater than 
8 characters

###### Sample Input
"People were going unhesitatingly to see the coastal island which was full of cockroaches"

###### Sample Output
"People were go unhesita to see the coast island which was full of cockroac"

In [ ]:
ip = "People were going unhesitatingly to see the coastal island which was full of cockroaches"

In [ ]:
for w in ip.split(" "):
    if not w.endswith(("ing","ly","al")):
        if len(w) <= 8:
            print(w)

In [ ]:
def process_word(word):
    suffixes = ["ing", "ly", "al"]
    
    for suffix in suffixes:
        if word.endswith(suffix):
            word = word[: -len(suffix)]
    
    return word[:8]

In [ ]:

def process_sentence(sentence):
    words = sentence.split()
    
    processed_words = [process_word(word) for word in words]
    
    processed_sentence = ' '.join(processed_words)
    
    return processed_sentence

In [ ]:

# Sample Input
input_sentence = "People were going unhesitatingly to see the coastal island which was full of cockroaches"

In [ ]:
# Process the sentence
output_sentence = process_sentence(input_sentence)

In [ ]:
# Display the result
print("Sample Input:", input_sentence)

In [23]:
print("Sample Output:", output_sentence.split(" "))

Sample Output: ['People', 'were', 'go', 'unhesita', 'to', 'see', 'the', 'coast', 'island', 'which', 'was', 'full', 'of', 'cockroac']

In [24]:
output_sentence.split(" ")

['People',
 'were',
 'go',
 'unhesita',
 'to',
 'see',
 'the',
 'coast',
 'island',
 'which',
 'was',
 'full',
 'of',
 'cockroac']

In [2]:
pip install fastapi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastapi in /home/cdot/.local/lib/python3.10/site-packages (0.100.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (2.5.3)
Requirement already satisfied: starlette<0.28.0,>=0.27.0 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (0.27.0)
Requirement already satisfied: typing-extensions>=4.5.0 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (4.9.0)
Requirement already satisfied: annotated-types>=0.4.0 in /home/cdot/.local/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4->fastapi) (0.5.0)
Requirement already satisfied: pydantic-core==2.14.6 in /home/cdot/.local/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4->fastapi) (2.14.6)
Requirement already satisfied: anyio<5,>=3.4.0 in /home/cdot/.local/lib/python3.10/site-packages (from starlette<0.28.0,>=0.27.0->fastapi) (3.7.1)
Requirement already satisfied: idna>=2.8 in /usr/lib/python3/dist-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (3.3)
Requirement already satisfied: sniffio>=1.1 in /home/cdot/.local/lib/python3.10/site-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.3.0)
Requirement already satisfied: exceptiongroup in /home/cdot/.local/lib/python3.10/site-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from dataclasses import dataclass
from fastapi import FastAPI

In [6]:
@dataclass
class User:
    username: str

In [7]:
class StartUserOnboarding:
    def __init__(self, user_repo):
        self.user_repo = user_repo
    def execute(self, username):
        user = User(usernmae = username)
        self.user_repo.add(user)

In [8]:
class InMemoryUserRepo:
    def __init__(self):
        self._users = []

    def add(self, user):
        self._users.append(user)

    def get_by_username(self, username):
        return next( user for user in self._users if user.usernmae == username)

In [9]:
class SQLiteUserRepo:
    def __init__(self, config):
        self._config = config

    def add(self, user):
        print("Running some SQL statemennts for insert DB_PATH")

    def get_by_username(self, username):
        print(f'Running some SQL statements for fetch from {self._config.DB_PATH}')

In [10]:
def test_user_is_added_to_repo():
    username = "t.naresh5422@gmail.com"
    repo = InMemoryUserRepo()
    use_case = StartUserOnboarding(user_repo=repo)
    use_case.execute(username)
    assert repo.get_by_username(username).username

In [11]:
class ApplicationConfig:
    DB_PATH = 'db'

In [12]:
app = FastAPI()

In [13]:
@app.post('/user/start_onboarding', status_code=202)
def start_user_onboarding(username: str):
    StartUserOnboarding(SQLiteUserRepo(ApplicationConfig())).execute(username)
    return "OK"

In [14]:
## Normalizing the given list
l1 = [1,2,[7,9,[15,[12,9]], 18, 10]]

In [15]:
l1

[1, 2, [7, 9, [15, [12, 9]], 18, 10]]

In [41]:
def normalize(li):
    l2 = []
    for i in li:
        if type(i) == int:
            l2.append(i)
        else:
            l2.extend(normalize(i))
    return l2

normalize(l1)

[1, 2, 7, 9, 15, 12, 9, 18, 10]

In [5]:
list = [1,2,2,3,9,9,3,4,4,5,6]
li = []
for i in set(list):
    li.append(i)

print(type(li))

<class 'list'>

In [7]:
li = []
for i in list:
    if i not in li:
        li.append(i)

print(li)

[1, 2, 3, 9, 4, 5, 6]

In [11]:
li = []
[li.append(i) for i in list if i not in li]
print(li)

[1, 2, 3, 9, 4, 5, 6]

In [15]:
# What will be the output for :
list_num = [0,1] * 10
print(list_num)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [16]:
string = "Inamdar"
string[::-1]

'radmanI'

In [2]:
## Get the common values from given lista and listb
lista = [2,5,7]
listb = [6,7,8]

In [4]:
[i for i in lista if i in listb]

[7]

In [5]:
[i for i in lista if i not in listb]

[2, 5]

In [7]:
lista.extend(listb)

In [9]:
lista

[2, 5, 7, 6, 7, 8, 6, 7, 8]

In [12]:
list(set(lista))

[2, 5, 6, 7, 8]

In [ ]:
### Merge two DataFrames

In [18]:
import pandas as pd
import numpy as np

In [22]:
employee = {"empid": [1,2,4,5,2,3,8,9],
            "deptid": [2,1,1,4,3,2,1,4],
           "empname": ["Naresh","Kumar","Tata","Sulo","Hikshith","Narasimhulu","Venkata","Narendra"]}
dept = {"deptid": [1,2,3,4],
       "Salary": [20000,10000,30000,50000]}

In [24]:
employee_df = pd.DataFrame(employee)
dept_df = pd.DataFrame(dept)
dept_df

   deptid  Salary
0       1   20000
1       2   10000
2       3   30000
3       4   50000

In [27]:
employee_df

   empid  deptid      empname
0      1       2       Naresh
1      2       1        Kumar
2      4       1         Tata
3      5       4         Sulo
4      2       3     Hikshith
5      3       2  Narasimhulu
6      8       1      Venkata
7      9       4     Narendra

In [39]:
pd.merge(employee_df, dept_df)[["deptid","empname","Salary"]].groupby(["deptid"]).sum()

                  empname  Salary
deptid
1        KumarTataVenkata   60000
2       NareshNarasimhulu   20000
3                Hikshith   30000
4            SuloNarendra  100000

In [43]:
pd.merge(employee_df, dept_df)["empid"].value_counts()

empid
2    2
1    1
3    1
4    1
8    1
5    1
9    1
Name: count, dtype: int64

In [51]:
len(set(pd.merge(employee_df, dept_df)["empid"]))

7

In [56]:
str = "My salary is 70000";
print(str.isalnum())

True

In [53]:
str.isalnum()

False

In [54]:
str.isalpha()

False

In [62]:
sum([1,2,3])**2

36

In [64]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [66]:
[1,2,3]+[2]

[1, 2, 3, 2]

In [69]:
l = [1,2,3]
l.append(2)
l

[1, 2, 3, 2]

In [76]:
[1,2,3][1]

2

In [92]:
li=[1, 0, 2, 0, 'hello', '']
# [i for i in list if i==2]
list(filter(bool, li))

TypeError: 'list' object is not callable

In [97]:
lista

[2, 5, 7, 6, 7, 8, 6, 7, 8]

In [99]:

listb

[6, 7, 8]

In [114]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []
cap_pets = []
for i in my_pets:
    cap_pets.append(i.capitalize())
    uppered_pets.append(i.upper())
    
print(cap_pets)
print(uppered_pets)

['Alfred', 'Tabitha', 'William', 'Arla']
['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [119]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

TypeError: 'list' object is not callable

In [123]:
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
squared_numbers = map(square, numbers)

print(list(squared_numbers))

TypeError: 'list' object is not callable