In [ ]:
def use_cache(func):
  cache = {}
  def wrapper(*args):
    if args in cache:
      return cache[args]
    else:
      result = func(*args)
      cache[args] = result
      return result
  return wrapper

In [ ]:
a = use_cache(4)
print(a)

In [ ]:
@use_cache
def add(a,b):
  c = a+b
  return c

In [ ]:
add(3,5)

In [ ]:
@use_cache
def fibb(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibb(n-1)+fibb(n-2)

In [ ]:
fibb(5)

In [ ]:
def authorize(user):
  def decorator(func):
    def wrapper(*args, **kwargs):
      if is_authorized(user):
        result = func(*args, **kwargs)
        return result
      else:
        raise Exception('user not authorized')
      return wrapper
    return decorator

In [ ]:
@authorize(current_user)
def some_secure_function(arg1, arg2):
  return result

In [ ]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as w
w.filterwarnings("ignore")

In [ ]:
training_data = [
                  ['Green', 3, 'Apple'],
                  ['Yellow', 3, 'Apple'],
                  ['Red', 1, 'Grape'],
                  ['Red', 1, 'Grape'],
                  ['Yellow', 3, 'Lemon'],
                  ]
Header = ["Color", "diameter", "Label"]
 # The last column is the label.
 # The first two columns are features.

In [ ]:
pd.DataFrame(training_data, columns = Header)

### Ask Questions

In [ ]:
class Questions:
  """ The question is used to partition a dataset

  this class just records a "column number" (e.g.. 0 for 'Color') 'Column value' (e.g.. Green)
  The match method is used to compare the feature value in an example to the feature value stored
  in the question
   """
  def __init__(self, column, value):
    self.column = column
    self.value = value
  def is_numeric(v):
    if v is np.integer:
      pass
    return v
  def match(self, example):
    # Compare the feature value in an example to the feature value in this question
    val = example[self.column]
    if val is np.integer:
      return val >= self.value
    else:
      return val == self.value

  def __repr__(self):
    # this is a just helper method to print the question in a readable format
    condition = "=="
    if self.value is np.integer:
      condition = ">="
    return "Is %s %s %s?"%(header[self.column])

In [ ]:
ip_strng = 'Hello, World'
op = "Hollo, Werld"
v = 'aeiou'

In [ ]:
strng = list(ip_strng)
idx = []
for i,s in enumerate(strng):
  if s in v:
    idx.append(i)
ridx = []
for i in idx[::-1]:
  ridx.append(strng[i])
print(idx, ridx)

In [ ]:
for i, c in zip(idx, ridx):
  strng[i] = c

print(''.join(strng))

## Reverse the vowels of String

In [ ]:
vowels = 'aeiouAEIOU'

In [ ]:
ip_str = "Naresh"

In [ ]:
type(list(ip_str))

In [ ]:
ip_list = list(ip_str)
ip_list[4]

In [ ]:
print(ip_str)
print(ip_list)
print("Nerash")
v_idx = []
for i, l in enumerate(ip_list):
  if l in vowels:
    v_idx.append(i)
print(v_idx)
v_list = []
for i in v_idx:
  v_list.append(ip_list[i])
print(v_list)
r_v_list = []
for i in v_idx[::-1]:
  r_v_list.append(ip_list[i])
print(r_v_list)

In [ ]:
for i,ch in zip(v_idx, r_v_list):
  ip_list[i] = ch

print(ip_list)

In [ ]:
final_reversed_vowel_strng = "".join(ip_list)
print(final_reversed_vowel_strng)

In [ ]:
def reverse_string_vowels(ip_str):
  vowels_list = "aeiouAEIOU"
  ip_list = list(ip_str)
  vowel_idx = [i for i, ch in enumerate(ip_list) if ch in vowels_list]
  vowel = [ip_list[ch] for ch in vowel_idx[::-1]]
  for i,ch in zip(vowel_idx, vowel):
    ip_list[i] = ch
  reversed_vowel_str = "".join(ip_list)
  return reversed_vowel_str

In [ ]:

print(reverse_string_vowels("Welcoma"))

In [ ]:
l1 = [1,2,3,4,5]
l2 = [4,3,6,7,8,2,5,67]
l3 = [6,5,1,7,3,43,6,8,9]
print(l3)

In [ ]:
for i,j,k in zip(l1,l2,l3):
  print(i,j,k)

In [ ]:
len("".join(l1))

In [ ]:
print(l1+l2)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([l1,l2,l3]).T
print(df)

In [ ]:

df.columns = ["A","B","C"]

In [ ]:
df

In [ ]:
df["Total"] = df[["A"]]>3
print(df)

In [ ]:
f = lambda x,y : x+y+2
f(2,3)

In [ ]:
list(map(f, l1,l2))

## Print Star Patterns

In [ ]:
for i in range(10):
  for j in range(0,10-i-1):
    print(end = " ")
  for j in range(0,i+1):
    print("*", end = " ")
  print()

## Sort the given values without Builtin function

In [ ]:
li = [12,43,1,5,2,23,56,7,34,2,5,7,3,33,2,24,3,2,45,56,-5,-2,-346]

In [ ]:
# sort_list = []
# while li:
#   min = li[0]
#   for j in sort_list:
#     if j > min:
#       min = j
#   sort_list.append(min)
# print(sort_list)

In [ ]:
for i in range(len(li)):
  for j in range(0,len(li)-i-1):
    if li[j]>li[j+1]:
      li[j],li[j+1] = li[j+1],li[j]
print(li)

In [ ]:
def sort_value(l):
  n = len(l)
  for x in range(n):
    for y in range(0,n-x-1):
      if l[j] > l[j+1]:
        l[j],l[j+1] = l[j+1],l[j]
  return l

In [ ]:
uniq_list = sort_value(li)

In [ ]:
class sorting:
  def __init__(self, l):
    self.l = l
  def sort(l):
    n = len(l)
    for i in range(n):
      for j in range(0, n-i-1):
        if l[j] > l[j+1]:
          l[j], l[j+1] = l[j+1],l[j]
    return l

In [ ]:
sorting.sort(li)

In [ ]:
ob = sorting
ob.sort([45,33,24,234,52,41,135,2344,2311,53,234,2,9])

## Calculate the frequency of the list

In [ ]:
def freq_list(l):
  # di = dict()
  # for i in l:
  #   if i in di:
  #     di[i] += 1
  #   else:
  #     di[i] = 1

  di = {i: l.count(i) for i in l}
  return di

In [ ]:
freq_list(li)

In [ ]:
for i in range(1,10):
    class Library:
        def __init__(self):
            self.numBooks = 0
            self.books = []
        def addBook(self, book):
            self.books.append(book)
            self.numBooks = len(self.books)
        def showinfo(self):
            print(f"The Library has {i} books")
            print(f"The books is {self.books}")
            
    lib = Library()
    lib.addBook(f"Data Science part {i}")
    lib.showinfo()

In [1]:
li = ["naresh", "Kumar", "Narendra", "Sulo",
     "naresh", "Kumar", "Narendra", "Sulo",
     "naresh", "Suresh", "Sulo",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar",
     "naresh", "Kumar"]

In [2]:
set(li)

{'Kumar', 'Narendra', 'Sulo', 'Suresh', 'naresh'}

In [3]:
for i in set(li):
    print(li.count(i)/len(set(li)))

2.2
2.0
0.4
0.2
0.6

In [4]:
from collections import defaultdict
import os
import sys
import re
import random

In [10]:
def mostactive(cust):
    d = defaultdict(int)
    for c in cust:
        d[c] += 1
    lis = []
    for c, cnt in d.items():
        if cnt/len(cust) >= 0.4:
            lis.append(c)
    sort_list = sorted(lis)
    return sort_list

In [11]:
mostactive(li)

['naresh']

In [10]:
!pip install fastapi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastapi in /home/cdot/.local/lib/python3.10/site-packages (0.100.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (2.5.3)
Requirement already satisfied: starlette<0.28.0,>=0.27.0 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (0.27.0)
Requirement already satisfied: typing-extensions>=4.5.0 in /home/cdot/.local/lib/python3.10/site-packages (from fastapi) (4.9.0)
Requirement already satisfied: annotated-types>=0.4.0 in /home/cdot/.local/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4->fastapi) (0.5.0)
Requirement already satisfied: pydantic-core==2.14.6 in /home/cdot/.local/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,!=2.0.0,!=2.0.1,<3.0.0,>=1.7.4->fastapi) (2.14.6)
Requirement already satisfied: anyio<5,>=3.4.0 in /home/cdot/.local/lib/python3.10/site-packages (from starlette<0.28.0,>=0.27.0->fastapi) (3.7.1)
Requirement already satisfied: idna>=2.8 in /usr/lib/python3/dist-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (3.3)
Requirement already satisfied: sniffio>=1.1 in /home/cdot/.local/lib/python3.10/site-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.3.0)
Requirement already satisfied: exceptiongroup in /home/cdot/.local/lib/python3.10/site-packages (from anyio<5,>=3.4.0->starlette<0.28.0,>=0.27.0->fastapi) (1.1.2)

In [2]:
import statistics as sts

In [6]:
a = [1,4,3,6,5,7,2,5,8,7,9,1,2,0,9,6,5,3,8,7,9,1,7, 5, 8,9]
b = [10, 20, 40, 30, 100, 90, 70, 60, 80, 10, 30, 20, 40, 30, 40, 70, 100, 90, 70, 60, 80, 10, 30, 20, 40, 30]
print(len(a))
print(len(b))

26
26

In [8]:
sts.correlation(a,b)

0.24209547315877186

In [9]:
sts.covariance(a,b)

20.323076923076922

In [11]:
sts.fmean(a)

5.269230769230769

In [12]:
sts.fmean(b)

48.84615384615385

In [13]:
sts.harmonic_mean(a,b)

0

In [16]:
sts.linear_regression(a,b)

LinearRegression(slope=2.4531104921077063, intercept=35.92014856081708)

In [18]:
sts.mean(a)

5.269230769230769

In [19]:
sts.mean(b)

48.84615384615385

In [21]:
sts.median(a)

5.5

In [22]:
sts.median(b)

40.0

In [26]:
sts.median_grouped(a)

5.5

In [27]:
sts.mode(a)

5

In [46]:
freq1 = {}
for i in a:
    if i in freq1:
        freq1[i]+= 1
    else:
        freq1[i] = 1

freq1

{1: 3, 4: 1, 3: 2, 6: 2, 5: 4, 7: 4, 2: 2, 8: 3, 9: 4, 0: 1}

In [48]:
b

[10,
 20,
 40,
 30,
 100,
 90,
 70,
 60,
 80,
 10,
 30,
 20,
 40,
 30,
 40,
 70,
 100,
 90,
 70,
 60,
 80,
 10,
 30,
 20,
 40,
 30]

In [50]:
freq2 = {}
for i in b:
    if i in freq2:
        freq2[i]+= 1
    else:
        freq2[i] = 1

freq2

{10: 3, 20: 3, 40: 4, 30: 5, 100: 2, 90: 2, 70: 3, 60: 2, 80: 2}

In [39]:
from fractions import Fraction as fra

In [67]:
sorted(list(zip(a, b)))

[(0, 30),
 (1, 10),
 (1, 10),
 (1, 20),
 (2, 40),
 (2, 70),
 (3, 40),
 (3, 90),
 (4, 20),
 (5, 20),
 (5, 60),
 (5, 100),
 (5, 100),
 (6, 30),
 (6, 70),
 (7, 10),
 (7, 30),
 (7, 60),
 (7, 90),
 (8, 40),
 (8, 70),
 (8, 80),
 (9, 30),
 (9, 30),
 (9, 40),
 (9, 80)]

In [70]:
def sqrt(input):
    li = []
    for i in input:
        if i%2 == 0:
            x = i**3
            li.append(x)
    return li

sqrt(a)

[64, 216, 8, 512, 8, 0, 216, 512, 512]

In [83]:
import numpy as np

In [111]:
def rnd(l):
    li = []
    for i in l:
        x = i/3
        li.append(x)
    return li

l = rnd(a)
print(l)

[0.3333333333333333, 1.3333333333333333, 1.0, 2.0, 1.6666666666666667, 2.3333333333333335, 0.6666666666666666, 1.6666666666666667, 2.6666666666666665, 2.3333333333333335, 3.0, 0.3333333333333333, 0.6666666666666666, 0.0, 3.0, 2.0, 1.6666666666666667, 1.0, 2.6666666666666665, 2.3333333333333335, 3.0, 0.3333333333333333, 2.3333333333333335, 1.6666666666666667, 2.6666666666666665, 3.0]

In [112]:
list(map(lambda x: int(np.round(x)), l))

[0, 1, 1, 2, 2, 2, 1, 2, 3, 2, 3, 0, 1, 0, 3, 2, 2, 1, 3, 2, 3, 0, 2, 2, 3, 3]

In [1]:
import numpy as np
import pandas as pd

In [21]:
di = {"city": ["Hyd","Ban","KDp","KDp","DVr","Ban","Ban","KDp","DVr","Hyd","Hyd","KDp","Ban"],
      "Gender":["F","F","M","F","M","M","F","M","M","M","F","F", np.nan]}
df = pd.DataFrame(di)
df

   city Gender
0   Hyd      F
1   Ban      F
2   KDp      M
3   KDp      F
4   DVr      M
5   Ban      M
6   Ban      F
7   KDp      M
8   DVr      M
9   Hyd      M
10  Hyd      F
11  KDp      F
12  Ban    NaN

In [48]:
group_df = df.groupby(['city','Gender']).size().reset_index(name="count")
group_df

  city Gender  count
0  Ban      F      2
1  Ban      M      1
2  DVr      M      2
3  Hyd      F      2
4  Hyd      M      1
5  KDp      F      2
6  KDp      M      2

In [60]:
pivot_df = pd.pivot_table(group_df, values='count', index = 'city', columns='Gender', aggfunc=sum, fill_value=0)
pivot_df

Gender  F  M
city
Ban     2  1
DVr     0  2
Hyd     2  1
KDp     2  2

In [61]:
pivot_df["Total"] = pivot_df["F"]+pivot_df["M"]
pivot_df

Gender  F  M  Total
city
Ban     2  1      3
DVr     0  2      2
Hyd     2  1      3
KDp     2  2      4

In [67]:
pivot_df.columns.name = None
pivot_df

      F  M  Total
city
Ban   2  1      3
DVr   0  2      2
Hyd   2  1      3
KDp   2  2      4

In [70]:
pivot_df.reset_index(inplace=True)

In [73]:
pivot_df

  city  F  M  Total
0  Ban  2  1      3
1  DVr  0  2      2
2  Hyd  2  1      3
3  KDp  2  2      4