## Find n number of Factorials

In [1]:
def fact(n):
    if n<0:
        return (f"Invalid Number")
    elif n == 0:
        return 1
    elif n == 1:
        return 1
    else:
        return n*fact(n-1)

In [6]:
n = 5
print(fact(n))

120

## Queues

In [4]:
queue = []
def enqueue():
    element = int(input("enter the element: "))
    queue.append(element)
    print(element,"is added into queue")
def dequeue():
    if element not in queue:
        print("queue is empty")
    else:
        element = queue.pop()
        print("Remove the element from Queue", element)
def display():
    print(queue)

while True:
    print("Select the operation 1. add 2. remove 3. show 4. quit")
    choice = int(input())
    if choice == 1:
        enqueue()
    elif choice == 2:
        dequeue()
    elif choice == 3:
        display()
    elif choice == 4:
        break
    else:
        print("Enter the correct operation")

Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 5
5 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 6
6 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
3
[5, 6]
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 1
1 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 4
4 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 3
3 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 8
8 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
8
Enter the correct operation
Select the operation 1. add 2. remove 3. show 4. quit
1
enter the element: 6
6 is added into queue
Select the operation 1. add 2. remove 3. show 4. quit
4

## Reversing the Vowels in given string

In [10]:
def rev_vowels(ipstr):
    li_str = list(ipstr)
    vowels = "aeiouAEIOU"
    v_i = [i for i,v in enumerate(li_str) if v in vowels]
    rev_li_str = [li_str[i] for i in v_i[::-1]]
    for i,c in zip(v_i,rev_li_str):
        li_str[i] = c
    final_str = "".join(li_str)
    return final_str

In [11]:
strng = input("Enter the String to reverse vowels: ")
rev_vowels(strng)

Enter the String to reverse vowels: hello

'holle'

## frequency of elements in given list

In [24]:
def ele_freq(l):
    # Create the empty dictionary to store the key values pair
    d = dict()
    # iterate the entire given list to count the elements
    for i in l:
        if i != ',':
        # in case, the given element is not in dictionary key
        # it will add into dictionary and increase the count
            if i not in d.keys():
                d[i] = 1
            else:
                d[i] += 1
    return d

In [114]:
def freq_list(l):
    di = {i: l.count(i) for i in l if i != ","}
    return di

In [115]:
li_ele = list(input("Enter the list of values to count the elements: "))
freq_list(li_ele)

Enter the list of values to count the elements: 6,5,4,7,3,6,3,5,3,5,4,7,5,0

{'6': 2, '5': 4, '4': 2, '7': 2, '3': 3, '0': 1}

In [25]:
li_ele = list(input("Enter the list of values to count the elements: "))
ele_freq(li_ele)

Enter the list of values to count the elements: 2,3,1,2,3,4,2,3,4,5,4,3,2,1,3,2

{'2': 5, '3': 5, '1': 2, '4': 3, '5': 1}

## Sort the given list of elements without using Built-in function

In [55]:
l = [2,4,3,5,4,6,4,7,8,3,2,9,0]

### Ascending list

In [98]:
def sort_asc_without_builtin(li):
    for i in range(len(li)):
        for j in range(0,len(li)-i-1):
            if li[j] > li[j+1]:
                li[j],li[j+1] = li[j+1],li[j]
    l1 = []
    for i in li:
        if i !=',':
            l1.append(i) 
    return l1

In [108]:
list_values = list(input("Enter the list of values for sorting ASC: "))
print()
print(f"Sorted list to ASC: {sort_asc_without_builtin(list_values)}")

Enter the list of values for sorting ASC: 6,2,8,6,9,0

Sorted list to ASC: ['0', '2', '6', '6', '8', '9']

### Descending list

In [105]:
def sort_desc_without_builtin(li):
    for i in range(len(li)):
        for j in range(0,len(li)-i-1):
            if li[j] < li[j+1]:
                li[j],li[j+1] = li[j+1],li[j]
    l1 = []
    for i in li:
        if i !=',':
            l1.append(i) 
    return l1

In [109]:
list_values = list(input("Enter the list of values for sorting DESC: "))
print()
print(f"Sorted list to DESC: {sort_desc_without_builtin(list_values)}")

Enter the list of values for sorting DESC: 7,4,1,0,9,3,6

Sorted list to DESC: ['9', '7', '6', '4', '3', '1', '0']

## Swapping the variable values

In [182]:
a = 3
b = 7
print(a,b)

3 7

In [183]:
a,b = b,a
print(a,b)

7 3

In [184]:
a = a+b
b = a-b
a = a-b
print(a,b)

3 7

In [185]:
a = a*b
b = a/b
a = a/b
print(a,b)

7.0 3.0

In [189]:
swap = lambda a,b : [b,a]
b,a = swap(a,b)
print(a,b)

3.0 7.0

In [190]:
temp = a
a = b
b = temp
print(a,b)

7.0 3.0

## Pandas E-Commerce QandA

1. Given a DataFrame with customer transactions, identify all customers who have increased their monthly spending by at least 20% compared to their 6 month average.
Sample Data: Assume a DataFrame transactions with columns ['CustomerID', 'TransactionDate', 'Amount'].

In [1]:
cid = [1,1,1,2,2,2,3,3,3]
tdate = ['2023-01-01', '2023-02-01', '2023-03-01',
         '2023-01-01', '2023-02-01', '2023-03-01', 
         '2023-01-01', '2023-02-01', '2023-03-01']
amount = [100, 120, 80, 200, 180, 220, 150, 160, 140]

In [2]:
import pandas as pd

In [38]:
pdf = pd.DataFrame([cid, tdate, amount], index = ["CustomerID","transactionDate","Amount"]).T
pdf

  CustomerID transactionDate Amount
0          1      2023-01-01    100
1          1      2023-02-01    120
2          1      2023-03-01     80
3          2      2023-01-01    200
4          2      2023-02-01    180
5          2      2023-03-01    220
6          3      2023-01-01    150
7          3      2023-02-01    160
8          3      2023-03-01    140

In [39]:
pdf.dtypes

CustomerID         object
transactionDate    object
Amount             object
dtype: object

In [40]:
pdf["transactionDate"].dtype

dtype('O')

In [41]:
pdf["transactionDate"] = pd.to_datetime(pdf["transactionDate"])
pdf.dtypes

CustomerID                 object
transactionDate    datetime64[ns]
Amount                     object
dtype: object

In [42]:
# Calculate 6 months average spending

grp = pdf.groupby(["CustomerID"])["Amount"]
roll = grp.rolling(window = 6, min_periods = 1).mean()
six_months_avg = roll.reset_index(level = 0, drop = True)
six_months_avg

0    100.0
1    110.0
2    100.0
3    200.0
4    190.0
5    200.0
6    150.0
7    155.0
8    150.0
Name: Amount, dtype: float64

In [43]:
pdf = pdf.join(six_months_avg, rsuffix = "_6m_avg", on = "CustomerID")
pdf

  CustomerID transactionDate Amount  Amount_6m_avg
0          1      2023-01-01    100          110.0
1          1      2023-02-01    120          110.0
2          1      2023-03-01     80          110.0
3          2      2023-01-01    200          100.0
4          2      2023-02-01    180          100.0
5          2      2023-03-01    220          100.0
6          3      2023-01-01    150          200.0
7          3      2023-02-01    160          200.0
8          3      2023-03-01    140          200.0

In [47]:
incr_spend = pdf[pdf["Amount"] >= 1.2 * pdf["Amount_6m_avg"]]["CustomerID"].unique()
print(incr_spend)

[2]